#prepared by packer provisioning

deb http://deb.debian.org/debian {{ansible_distribution_release}} main contrib non-free
deb-src http://deb.debian.org/debian {{ansible_distribution_release}} main contrib non-free

deb http://deb.debian.org/debian-security/ {{ansible_distribution_release}}/updates main contrib non-free
deb-src http://deb.debian.org/debian-security/ {{ansible_distribution_release}}/updates main contrib non-free

deb http://deb.debian.org/debian {{ansible_distribution_release}}-updates main contrib non-free
deb-src http://deb.debian.org/debian {{ansible_distribution_release}}-updates main contrib non-free